<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Medição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Registre seus indicadores cardíacos atuais:</p>

  <ion-item>
    <ion-input label="Pressão Arterial (ex: 120/80)" labelPlacement="stacked" [(ngModel)]="registro.pressaoArterial"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input type="number" label="Frequência Cardíaca (bpm)" labelPlacement="stacked" [(ngModel)]="registro.frequenciaCardiaca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" label="Oxigenação no Sangue (%)" labelPlacement="stacked" [(ngModel)]="registro.oxigenacaoSangue"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" label="Peso Corporal (kg)" labelPlacement="stacked" [(ngModel)]="registro.pesoCorporal"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Sintomas (ex: Tontura, Falta de ar)" labelPlacement="stacked" [(ngModel)]="registro.sintomas"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="salvarRegistro()">
    Salvar Medição
  </ion-button>
</ion-content>