<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Nome" labelPlacement="stacked" [(ngModel)]="usuario.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Sobrenome" labelPlacement="stacked" [(ngModel)]="usuario.sobrenome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="email" label="E-mail" labelPlacement="stacked" [(ngModel)]="usuario.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="tel" label="Telefone" labelPlacement="stacked" [(ngModel)]="usuario.telefone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" label="Senha" labelPlacement="stacked" [(ngModel)]="usuario.senha"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" label="Confirmar Senha" labelPlacement="stacked" [(ngModel)]="usuario.confirmarSenha"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="date" label="Data de Nascimento" labelPlacement="stacked" [(ngModel)]="usuario.dataNascimento"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Sexo" labelPlacement="stacked" [(ngModel)]="usuario.sexo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="País" labelPlacement="stacked" [(ngModel)]="usuario.paisResidencia"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="fazerCadastro()">
    Registrar
  </ion-button>
</ion-content>